<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style/index.css}">
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/footer.css}">
    <title>Головна</title>
</head>


<body>

    <div class="header">
        <div id="topHeader">
            <div class="logo">
                <nobr>Logo</nobr>
            </div>
            <div class="miniMedia">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <i class="fas fa-phone-square-alt"></i>
            </div>
        </div>
    </div>

    <nav class="navbar sticky-top navbar-expand-md bg-white navbar-dark" id="headerButtons">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color: #121212;; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <a class="headerButton" th:href="@{/index}">
                <p>ГОЛОВНА</p>
            </a>
            <div class="dropdown headerButton">
                <a class="headerButton1" href="products.html">
                    <p>КАТЕГОРІЇ</p>
                </a>
                <div class="dropdown-content">
                    <div>
                        <a th:href="@{/products}">КУРТКИ</a>
                        <a th:href="@{/products}">ПАЛЬТА</a>
                    </div>
                    <div>
                        <a th:href="@{/products}">ЖАКЕТИ</a>
                        <a th:href="@{/products}">СВЕТРИ</a>
                    </div>
                    <a th:href="@{/products}">ХУТРО</a>
                </div>
            </div>
            <div class="headerButton">
                <p>ПРО НАС</p>
            </div>
            <div class="headerButton">
                <p>ДОСТАВКА</p>
            </div>
            <a class="headerButton" href="cart">
                <p>КОШИК <i class="fas fa-shopping-cart"></i></p>
            </a>
        </div>
    </nav>

    <div id="baner">
        <img src="https://minimal.com.ua/wp-content/uploads/2020/08/RD-11.jpg" />
    </div>
    <br />

    <div id="categories">
        <h2>КАТЕГОРІЇ</h2>
        <div class="categorieRow row no-gutters">
            <div class="col-md-7">
                <a th:href="@{/products}">
                <div class="big">
                    <div class="img-wrap">
                        <img class="categorie" th:src="@{images/380473_1.jpg}"/>
                        <h1>КУРТКИ</h1>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-5">
                <a th:href="@{/products}">
                <div class="small">
                    <div class="img-wrap">
                        <img class="categorie"
                            src="https://women-tusovka.ru/wp-content/uploads/2018/03/ustarevshij-fason-palto-ot-kakix-modelej-stoit-otkazatsya-1.jpg" />
                    </div>
                    <h1>ПАЛЬТА</h1>
                </div>
                    </a>
            </div>
        </div>
        <div class="categorieRow row no-gutters">
            <div class="col-md-5">
                <a th:href="@{/products}">
                <div class="small">
                    <div class="img-wrap">
                        <img class="categorie" src="https://blog.shafa.ua/wp-content/uploads/2019/04/1.jpg" />
                        <h1 id="font-etalon">ЖАКЕТИ</h1>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-7">
                <a th:href="@{/products}">
                <div class="big">
                    <div class="img-wrap">
                        <img class="categorie" src="https://cutur.ru/wp-content/uploads/_pu/0/02816383.jpg" />
                        <h1>СВЕТРИ</h1>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="categorieRow row no-gutters align-items-center justify-content-center">
            <div class="col-12">
                <a th:href="@{/products}">
                <div class="theBig">
                    <div class="img-wrap">
                        <img class="categorie" src="https://images.ua.prom.st/2227446562_2227446562.jpg" />
                        <h1>ХУТРО</h1>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="logo">
            <nobr style="color: #ffffff; margin: auto; vertical-align: middle; line-height: 150px;">Logo</nobr>
        </div>
        <div class="rights">
            <p>All rights reserved. 2020®</p>
        </div>
        <div class="media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-viber"></i>
            <i class="fab fa-telegram"></i>
            <i class="fas fa-phone-square-alt"></i>
        </div>
    </footer>

</body>


<script th:src="@{js/index.js}"></script>
<script src="https://kit.fontawesome.com/54144e2123.js"></script>


</html>