<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style/item.css}">
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/footer.css}">
    <title>Товари</title>
</head>


<body>

    <div class="header">
        <div id="topHeader">
            <div class="logo">
                <nobr>Logo</nobr>
            </div>
            <div class="miniMedia">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <i class="fas fa-phone-square-alt"></i>
            </div>
        </div>
    </div>

    <nav class="navbar sticky-top navbar-expand-md bg-white navbar-dark" id="headerButtons">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color: #121212;; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <a class="headerButton" href="index.html">
                <p>ГОЛОВНА</p>
            </a>
            <div class="dropdown headerButton">
                <div class="headerButton1" onclick="window.location='products.html'">
                    <p>КАТЕГОРІЇ</p>
                </div>
                <div class="dropdown-content">
                    <div>
                        <a href="#">КУРТКИ</a>
                        <a href="#">ПАЛЬТА</a>
                    </div>
                    <div>
                        <a href="#">ЖАКЕТИ</a>
                        <a href="#">СВЕТРИ</a>
                    </div>
                    <a href="#">ХУТРО</a>
                </div>
            </div>
            <div class="headerButton">
                <p>ПРО НАС</p>
            </div>
            <div class="headerButton">
                <p>ДОСТАВКА</p>
            </div>
            <a class="headerButton" href="cart.html">
                <p>КОШИК <i class="fas fa-shopping-cart"></i></p>
            </a>
        </div>
    </nav>

    <div id="location">
        <p>Всі товари > Куртки</p>
    </div>
    <br/>

    <div class="item">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <i class="fas fa-arrow-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <i class="fas fa-arrow-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block"
                                src="https://mangelo.ua/image/cache/catalog/22.02.2020/193pudra-1000x1000.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://mangelo.ua/image/cache/catalog/22.02.2020/193pudra1-1000x1000.jpg"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://mangelo.ua/image/cache/catalog/22.02.2020/193pudra2-1000x1000.jpg"
                                alt="Third slide">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6" style=" height: 600px;">
                <h4 class="item-name">Куртка-пуховик</h4>
                <form name="item-buy">
                    <p>Доступні кольори:</p>
                    <div class="colors radio-group">
                        <div class="radio" data-value="black" style="background-color: black"></div>
                        <div class="radio" data-value="pink" style="background-color: #D9A2DE"></div>
                        <div class="radio" data-value="red" style="background-color: #BF3030"></div>
                    </div>
                    <p>Доступні розміри:</p>
                    <div class="sizes radio-group">
                        <div class="radio" data-value="black">XS</div>
                        <div class="radio" data-value="pink">S</div>
                        <div class="radio" data-value="red">M</div>
                        <div class="radio" data-value="red">L</div>
                        <div class="radio" data-value="red">XL</div>
                    </div>
                    <div class="opt">
                        <p>Ростовка:</p>
                        <input type="checkbox" />
                    </div>
                    <div class="amount">
                        <p>Кількість:</p>
                        <input type="number" id="item-amount" value="1" />
                    </div>
                </form>
                <div class="cost">
                    <h4>Вартість: 1100</h4>
                </div>
                <div class="cart-button">
                    <p>В кошик <i class="fas fa-shopping-cart"></i></p>
                </div>
            </div>
        </div>
        <div class="additional-info">
                <div class="material">
                        <h5>Матеріал:</h5>
                        <p>пух, акрил</p>
                    </div>
            <div class="description">
                <h5>Опис:</h5>
                <p>Куртка пуховик з накладними карманами. Кармани та внутрішня сторона капюшона виконані в акрилі.
                    Підкладка. Застібка-блискавка </p>
            </div>
            <div class="size-chart">
                <h5>Розмірна сітка:</h5>
                <table rules="all">
                    <tr>
                        <th></th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                    </tr>
                    <tr>
                        <td class="head">Плечі</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td class="head">Груди</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td class="head">Рукава</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td class="head">Талія</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td class="head">Стегна</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="logo">
            <nobr style="color: #ffffff; margin: auto; vertical-align: middle; line-height: 150px;">Logo</nobr>
        </div>
        <div class="rights">
            <p>All rights reserved. 2020®</p>
        </div>
        <div class="media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-viber"></i>
            <i class="fab fa-telegram"></i>
            <i class="fas fa-phone-square-alt"></i>
        </div>
    </footer>

</body>


<script th:src="@{js/index.js}"></script>
<script th:src="@{js/item.js}"></script>
<script src="https://kit.fontawesome.com/54144e2123.js"></script>


</html>